<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kate.collectInfo.dao.mapper.SysInfoMapper">
	<select id="selectOne" resultType="com.kate.collectInfo.service.entity.SysInfo">
		select * from sysinfo where
		mac=#{mac,jdbcType=VARCHAR} and
		ip=#{ip,jdbcType=VARCHAR}
	</select>

	<insert id="insertData" parameterType="com.kate.collectInfo.service.entity.SysInfo">
		insert into sysinfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ip != null">
				ip,
			</if>
			<if test="mac != null">
				mac,
			</if>
			<if test="os != null">
				os,
			</if>
			<if test="cpuEndian != null">
				cpuEndian,
			</if>
			<if test="dataModel !=null">
				dataModel,
			</if>
			<if test="description !=null">
				description,
			</if>
			<if test="vendor !=null">
				vendor,
			</if>
			<if test="vendorCodeName !=null">
				vendorCodeName,
			</if>

			<if test="vendorName !=null">
				vendorName,
			</if>
			<if test="vendorVersion !=null">
				vendorVersion,
			</if>
			<if test="version !=null">
				version,
			</if>

			<if test="updateTime !=null">
				updateTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="ip != null">
				#{ip,jdbcType=VARCHAR},
			</if>
			<if test="mac != null">
				#{mac,jdbcType=VARCHAR},
			</if>
			<if test="os != null">
				#{os,jdbcType=VARCHAR},
			</if>
			<if test="cpuEndian != null">
				#{cpuEndian,jdbcType=VARCHAR},
			</if>
			<if test="dataModel !=null">
				#{dataModel,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="vendor != null">
				#{vendor,jdbcType=VARCHAR},
			</if>
			<if test="vendorCodeName != null">
				#{vendorCodeName,jdbcType=VARCHAR},
			</if>
			<if test="vendorName != null">
				#{vendorName,jdbcType=VARCHAR},
			</if>
			<if test="vendorVersion != null">
				#{vendorVersion,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				#{version,jdbcType=VARCHAR},
			</if>
			<if test="updateTime!=null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByKey" parameterType="com.kate.collectInfo.service.entity.SysInfo">
		update sysinfo
		<set>
			<if test="ip != null">
				ip=#{ip,jdbcType=VARCHAR},
			</if>
			<if test="mac != null">
				mac=#{mac,jdbcType=VARCHAR},
			</if>
			<if test="os != null">
				os=#{os,jdbcType=VARCHAR},
			</if>
			<if test="cpuEndian != null">
				cpuEndian=#{cpuEndian,jdbcType=VARCHAR},
			</if>
			<if test="dataModel !=null">
				dataModel=#{dataModel,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description=#{description,jdbcType=VARCHAR},
			</if>
			<if test="vendor != null">
				vendor=#{vendor,jdbcType=VARCHAR},
			</if>
			<if test="vendorCodeName != null">
				vendorCodeName=#{vendorCodeName,jdbcType=VARCHAR},
			</if>
			<if test="vendorName != null">
				vendorName=#{vendorName,jdbcType=VARCHAR},
			</if>
			<if test="vendorVersion != null">
				vendorVersion=#{vendorVersion,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				version=#{version,jdbcType=VARCHAR},
			</if>
			<if test="updateTime!=null">
				updateTime=#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>



</mapper>